<%- include('partials/header') -%>

  <div class="container m-auto my-5">
    <%- include('partials/messages') -%>
      <table id="dataTable" class="table table-striped table-warning" style="width:100%">
        <thead>
          <tr class="table-dark">
            <th>Name</th>
            <th>Position</th>
            <th>Contact</th>
            <th>Joining date</th>
            <th>Salary</th>
            <th>Operation</th>
          </tr>
        </thead>
        <tbody>

          <% employee.forEach(employee=>{ %>
            <tr>
              <td>
                <%= employee.name %>
              </td>
              <td>
                <%= employee.position %>
              </td>
              <td>
                <%= employee.contact %>
              </td>
              <td>
                <%= employee.joining_date %>
              </td>
              <td>
                <%= employee.salary %>
              </td>

              <td>
                <a class="btn btn-primary me-3" href="/home/update<%= employee.id%>">Edit</a>
                <form style="display: inline;" action="/home/delete<%= employee.id %>?_method=DELETE" method="POST">
                  <input type="hidden" name="_method" value="DELETE">
                  <button class="btn btn-danger">Delete</button>
                </form>

              </td>
            </tr>


            <% }) %>




        </tbody>
        <tfoot>
          <tr class="table-dark">
            <th>Name</th>
            <th>Position</th>
            <th>Contact</th>
            <th>Joining date</th>
            <th>Salary</th>
            <th>Operation</th>
          </tr>
        </tfoot>
      </table>
  </div>
  <%- include('partials/footer') -%>